.card-deck{
  display: none;
  padding: 12px 60px 12px 40px;
  opacity: 0.78;
}
#button:hover{
  background-color: white;
  color: black;
}
#submit{
  display: flex;
  justify-content: center;
  display: none;
}
#submit:hover{
  background-color: white;
  color: black;
}
#showFirst{
  display: none;
}
#showSecond{
  display: none;
}
#showLast{
  display: none;
}
#openNext{
  display: flex;
  justify-content: center;
  display: none;
}
#openLast{
  display: flex;
  justify-content: center;
  display: none;
}
#reload{
  display: none;
}
#afterSubmit{
  display: none;
}
#scoreSheet{
}
body{
  background-image: url(https://www.faylib.org/sites/default/files/youth%20coding%20club.jpg);
  background-attachment: fixed;
}
.jumbotron h1{
font-family: 'Luckiest Guy', cursive;
font-size: 40px;
}
.jumbotron{
  text-align: center;
  background-color: green;
}
.jumbotron:hover{
  background-color: black;
  color: white;
}
.card:hover{
  background-color: black;
  color: white;
}
#footer{
  padding: 10px 20px 20px 10px;
  display: none;
}
.sidenav{
  height: 100%;
  width: auto;
  position: fixed;
  background-color: lightblue;
}
h4{
  font-family: 'ZCOOL XiaoWei', serif;
}
#name{
  padding-top: 3px;
}
#email{
  padding-top: 3px;
}
#date{
  padding-top: 3px;
}
