.card-deck{
  display: none;
}
#submit{
  display: none;
}
#showFirst{
  display: none;
}
#showSecond{
  display: none;
}
#showLast{
  display: none;
}
#openNext{
  display: none;
}
#openLast{
  display: none;
}
input{
  display: block;
}
