.card-deck{
  display: none;
  padding: 12px 60px 12px 40px;
}
#submit{
  display: none;
}
#submit:hover{
  background-color: white;
  color: black;
}
#showFirst{
  display: none;
}
#showSecond{
  display: none;
}
#showLast{
  display: none;
}
#openNext{
  display: none;
}
#openLast{
  display: none;
}
